{% extends "layout.twig" %}
{% block content %}

<section class="page default">
	<div class="page-content">
		<ul class="profile-header">
			<li>{{widget('profile', 'header-profile1', { 'profileType':'phone','phone':'profile'})|raw}}</li>
			<li>{{widget('profile', 'header-profile2', { 'profileType':'address','address':'profile'})|raw}}</li>
		</ul>
		<div class="canvas">
			{{zone('main')|raw}}
		</div>
	</div>
</section>

{% endblock %}