{% extends "layout.twig" %}
{% block content %}

<section class="page home">
	<div class="page-content">
		<ul class="profile-header">
			<li>{{widget('profile', 'header-profile1', { 'profileType':'address','address':'profile'})|raw}}</li>
			<li>{{widget('profile', 'header-profile2', { 'profileType':'phone','phone':'profile'})|raw}}</li>
		</ul>
		<div class="canvas">
			{{widget('feature', 'featurehome', {"header": "profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false})|raw}}
			{{zone('main')|raw}}
		</div>
	</div>
</section>

{% endblock %}