{% extends "layout.twig" %}

{% block content %}

<section class="page home">
	<div class="canvas">
		{{widget('feature', 'featurehome', {"header": "profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false})|raw}}
	</div>
</section>

{% endblock %}